        <div id="header" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- Menu -->
            <div id="menu-nav-bar" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                {{ knp_menu_render('main')}}
<!--                <ul class="nav nav-pills">TeamERPBaseBundle:Builder:mainMenu
                    <li class="">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="">
                        <a href="{{ path('team_erp_sales_homepage') }}"><i class="fa fa-money"></i> Sales</a>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-user"></i> HRM</a>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-gears"></i> Production</a>
                    </li>                    
                    <li class="">
                        <a href="#"><i class="fa fa-tasks"></i> Stores</a>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-truck"></i> Transport</a>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-adn"></i> Analysis</a>
                    </li> 
                    <li class="">
                        <a href="#"><i class="fa fa-steam"></i> Profit-Loss</a>
                    </li>
                    <li class="">
                        <a href="#"><i class="fa fa-anchor"></i> Admin</a>
                    </li>                    
                </ul>-->
            </div>  
            <!-- User-Area -->
            <div id="user-area" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                {% if (app.user and is_granted("IS_AUTHENTICATED_REMEMBERED")) %}
                    <a href="{{ path('fos_user_security_logout') }}">
                        <button class="btn btn-lg btn-warning" type="button"><i class="fa fa-power-off"></i>
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} 
                        </button></a>
                        <a href="{{ path('fos_user_profile_show') }}"><button class="btn btn-lg btn-info" type="button"><i class="fa fa-bars"></i> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </button></a>
                {% else %}
                    <div class="">
                        <a href="{{ path('fos_user_security_login') }}">
                            <button class="btn btn-lg btn-info" type="button"><i class="fa fa-power-off"></i>
                                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </a>  
                    </div>                        
                {% endif %}
            </div>            
            <!-- Logo -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 text-right ">
                {% image '@TeamERPBaseBundle/Resources/public/images/team.PNG' %}
                    <img class="team-logo" src="{{ asset_url }}" alt="Team Engineers" />
                {% endimage %}
            </div>
        </div>
