<div class="form-group">
    {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder' : 'e.g. PVC Pipe 3 cm'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.code, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.code, {'attr': {'class': 'form-control', 'placeholder' : 'Code for this category'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.description, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder' : 'Long description'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.cost, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="form-inline">
        {{ form_widget(form.cost, {'attr': {'class': 'form-control', 'placeholder' : 'product cost per unit'}}) }}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Category</label>
    <div class="col-sm-10">
        <a href="#" id="show-category">
            <button class="btn btn-lg btn-info" type="button">
                <i class="fa fa-bars"></i> + Select or create category
            </button>
        </a>
        <a href="#" id="hide-category">
            <button class="btn btn-lg btn-info" type="button">
                <i class="fa fa-bars"></i> - Hide category selection
            </button>
        </a>
    </div>
</div>
<div class="form-group" id="category-list">
    {% include 'TeamERPStoresBundle:Category:radio_list.html.twig' %}
    <div class="border-line-black">
        <div class="form-group category-h3-title">
            <h3 class=""> New {{ form_label(form.category, null) }}</h3>
        </div>
        <div class="form-group">
            {{ form_label(form.category.name, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.category.name, {'attr': {'class': 'form-control', 'placeholder' : 'Category name'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.category.code, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.category.code, {'attr': {'class': 'form-control', 'placeholder' : 'Category code'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.category.description, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.category.description, {'attr': {'class': 'form-control', 'placeholder' : 'Long description'}}) }}
            </div>
        </div>
    </div>    
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Measure Unit</label>
    <div class="col-sm-10">
        <select class="form-control" id="measureUnit" onchange="change(this);">
            <option>-----</option>
            <option>boxes</option>
            <option>Kg - kilograms</option>
            <option>U - units</option>
            <option>L- liters</option>
            <option>m - meters</option>
            <option>-----</option>
            <option value="-1" class="">+ New measure unit</option>
        </select>
    </div>
</div>
<div id="measureUnitForm">
    {% include 'TeamERPStoresBundle:Configuration:measure_unit_form.html.twig' %}
</div>    
<div class="form-group">
    {{ form_label(form.qtyToPurchase, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.qtyToPurchase, {'attr': {'class': 'form-control', 'placeholder' : 'Quantity to Purchase'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.reorderPoint, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.reorderPoint, {'attr': {'class': 'form-control', 'placeholder' : 'Information about the suppliers'}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.qtyOnSalesOrder, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.qtyOnSalesOrder, {'attr': {'class': 'form-control', 'placeholder' : 'Quantity on sales order'}}) }}
    </div>
</div>    
