{% extends "TeamERPUserBundle::layout.html.twig" %}
{% block content %}
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        
        {% for user in users %}
            <tr>
                <td><a class="warning" href="{{path('teamerp_user_edit_other', {'id' : user.username })}}">
                        <i class="fa fa-pencil-square-o"></i></a> | 
                    <a class="danger" href="{{path('teamerp_user_delete_other', {'aUser' : user.username })}}">
                        <i class="fa fa-trash-o"></i> </a>
                </td>
                <td>{{user.username}}</td>
                <td>{% set efectiveRoles = user.roles %}
                    {% for efrole in efectiveRoles %}
                            {{efrole}},
                    {% endfor %}</td>
                <td>{{user.OrganizationName}}</td>
            </tr> 
        {% endfor %}
    </tbody>
    </table>
{% endblock %}

